@import './partials/normal-reset'
@import './partials/alias-mixins'
@import './partials/setters'
@import './partials/footer'
@import './partials/menu'
@import './partials/search'
body
    font-family: sans-serif


h1
    color: red
    font-family: sans-serif
    background: transparent

img
    width: 20vw
    height: 20vh