// -------------- FOOTER
footer
    .box-logo-footer
        img.logo-footer(src="../images/logo-efet-branco.svg" alt="Logo Efetivos")

    //- sociais
    .ctn-sociais
        .box-sociais
            a(href="https://www.instagram.com/efetivos/" target="_blank") INSTAGRAM
            .traco-sociais

        .box-sociais
            a(href="https://www.facebook.com/efetivos/" target="_blank") FACEBOOK
            .traco-sociais

        .box-sociais
            a(href="mailto:contato@efetivos.com.br" target="_blank") EMAIL
            .traco-sociais


    //- dev
    .ctn-dev
        .box-copyright
            p
                span ALL COPYRIGHT
                |  © EFETIVOS 2018
        
        .box-dev
            a(href="http://efetivos.com" target="_blank")
                img.logo-desenvolv(src="../images/desenvolvimento_dev_branco.svg" alt="Logo Efetivos")
                img.logo-efet(src="../images/logo-efet-branco.svg" alt="Logo Efetivos")