.box-trg-menu
    .holder-trg-menu.e-rel.e-flex-col
        .line-trg-menu.e-wp
        .line-trg-menu.e-wp
        .line-trg-menu.e-wp

//- -- MENU MOB -->

.menu-mob
    .holder-menu-mob.e-flex-col.e-rel

        .box-logo-menu.e-flex
            img.logo-menu-mob(src="../images/logo-efet-branco.svg" alt="Logo Efetivos")

        .box-links-mob.e-flex-col
            a.link-menu-mob(href="#") Home
            a.link-menu-mob(href="#") Sobre
            a.link-menu-mob(href="#") Serviços
            a.link-menu-mob(href="#") Galeria
            a.link-menu-mob(href="#") Novidades
            a.link-menu-mob(href="#") Contato

            a.dev-box.e-flex.e-wvw(href="http://efetivos.com" target="_blank")
                img.desenv-menu(src="../images/desenvolvimento_dev_branco.svg" alt="Logo Efetivos")
                img.logo-efet-menu(src="../images/logo-efet-branco.svg" alt="Logo Efetivos")

header
    .holder-header.e-rel
        .box-logo-main
            img.logo-main(src="../images/logo-efet-preto.svg" alt="Logo Efetivos")

        .box-links-desk.e-flex
            a.link-menu-desk(href="/views/home.html") Home
                .traco-menu.e-wp
            a.link-menu-desk(href="/views/sobre.html") Sobre
                .traco-menu.e-wp
            a.link-menu-desk(href="#") Serviços
                .traco-menu.e-wp
            a.link-menu-desk(href="#") Galeria
                .traco-menu.e-wp
            a.link-menu-desk(href="/views/page.html") Novidades
                .traco-menu.e-wp
            a.link-menu-desk(href="/views/contato.html") Contato
                .traco-menu.e-wp