extends ../index
block title
    title inner Page

block content
    .box-img-header.e-wvw.e-hvh.e-hiiden.e-flex.e-rel
        img.img-header.e-wp.e-hp.e-img-fir.e-abs(src="http://unsplash.it/1091")
        h1.h1-header.e-abs.e-white PAGINA INTERNA
    
append footer
