doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title=htmlWebpackPlugin.options.title
  body
    h1.aqua está é a pagina index
    a(href='./contact.html')  link para contato
    img(src="./images/logo-ems.png", alt="")
    img(src="./images/logo-ems.png", alt="")
    img(src="./images/logo-ems.png", alt="")
    img(src="./images/logo-ems.png", alt="")
    img(src="./images/logo-ems.png", alt="")